body
{
color : white;
background-color : black;
background-image: url("images/pagebackground3.png");
background-position: left top;
background-attachment: fixed;
}

h1
{
color: red;
text-align: center;
}

h2
{
color: yellow;
margin : 10px 0 20px 320px ;
}

h3
{
color: lightgray;
margin : 10px 0 20px 340px ;
}

#logo
{
text-align: center;
margin-bottom: 40px;
}

p img{
position: relative;
top: 5px;
width: 60px;
}

#photos
{
    font-size: large ;
    color: orange;
    text-align: center;
    margin-bottom: 40px;  
}

#photos img
{
width: 100px;
margin: 10px 10px 0;
}

p
{
font-size: large ;
color: orange;
margin : 0 300px 0 ;
}

ul
{
font-size: large ;
color: yellow;
margin : 10px 340px 0 ;
padding: 0;
}

li:nth-child(odd)
{
    color: red;
}

p:first-child
{
margin : 50px 300px 30px ;
padding: 0px;
}

a
{
color : #00ff2a;
}